{{define "article/MVM23"}}
    <h1><big>Metroidvania Month 23</big></h1>
    <p class="content_paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti aliquid inventore est et autem! Quis, fugit aspernatur ratione eum molestiae laborum, at voluptates vero, ipsum praesentium earum quasi modi cumque?</p>
{{end}}