html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

:root {
  --text: oklch(80% 0.02 49.14);
  --background: oklch(31% 0.015 282.02);
  --primary: oklch(36% 0.0242 248.9);
  --secondary: oklch(25% 0.0187 282.02);
  --accent: oklch(65% 0.05 272.94);
}

body {
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--accent);
}

@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes slide-from-right {
  from { transform: translateX(-200px); }
}

@keyframes slide-to-left {
  to { transform: translateX(-200px); }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background: var(--accent);
}

.container {
  font-family: 'VT323', monospace;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding: 5px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'VT323', monospace;
  font-size: x-large;
  height: 150px;
  width: 100%;
  color: var(--text);
  background-color: var(--primary);
}

.content {
  font-family: 'VT323', monospace;
  width: 100%;
  height: calc(100% - 220px);
  background-color: (16.95% -0.007 -0.02);
}

.content_nav {
  font-family: 'VT323', monospace;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  float: left;
  height: 100%;
  width: 200px;
  background-color: var(--secondary);
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;

  font-family: 'VT323', monospace;
  font-size: x-large;
  color: var(--secondary);
  padding: 5px;
  width: 100%;
  align-self: center;
  text-align: center;
  background-color: var(--accent);
  border-radius: 2px;
  transition: ease-in-out 180ms;
  border-style: outset;
  border-width: 2px;
  border-color: black;
}

a.button:hover {
  transform: translateX(10%);
}

.button {
  font-family: 'VT323', monospace;
  font-size: x-large;
  color: var(--secondary);
  padding: 5px;
  width: 100%;
  align-self: center;
  border-radius: 2px;
  background-color: var(--accent);
  transition: ease-in-out 180ms;
}

.button:hover {
  transform: translateX(10%);
}

.slide-it {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  view-transition-name: slide-it;
}

::view-transition-old(slide-it) {
  animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
  600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}
::view-transition-new(slide-it) {
  animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
  600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

iframe { 
  width: 70%;
  padding: 3px;
  aspect-ratio: 16 / 9;
}

.content_body {
  display: flex;
  flex-direction: column;
  font-family: 'VT323', monospace;
  text-align: center;
  align-items: center;
  color: var(--text);
  font-size: larger;
  float: left;
  width: calc(100% - 200px);
  overflow-y: scroll;
  height: 100%;
  min-width: 100px;
  padding: 20px;
  background-color: var(--background);
}

.content_paragraph {
  font-family: 'VT323', monospace;
  color: var(--text);
  max-width: 85%;
}

.picture_btn {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;

  background-color: transparent;
  height: 50px;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  border-width: 2px;
}

img {
  max-width: 100%;
  max-height: 100%;
  padding: 3px;
}

.content::after {
  clear: float;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 20px;
  gap: 10px;
  width: 100%;
  height: 80px;
  font-family: 'VT323', monospace;
  font-size: x-large;
  color: var(--text);
  background-color: var(--primary);
}

.ko-fi {
  grid-column: 1;
  align-self: start;
}

.center-footer {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 820px) {
  .content_nav, .content_body {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
  }
  
  .footer {
    grid-template-columns: 1fr;
    height: auto;
  }
  
  .content {
    overflow: scroll;
    height: auto;
  }
  
  .ko-fi {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
  }
  
  .center-footer {
    grid-column: 1;
    justify-self: center;
  }
}



img.kofiimg{
  display: initial!important;
  vertical-align: middle;
  height: 13px!important;
  width: 20px!important;
  padding-top: 0!important;
  padding-bottom: 0!important;
  border: none;
  margin-top: 0;
  margin-right: 5px!important;
  margin-left: 0!important;
  margin-bottom: 3px!important;
  content: url('https://storage.ko-fi.com/cdn/cup-border.png');
}
.kofiimg:after{
  vertical-align: middle;
  height: 25px;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  margin-top: 0;
  margin-right: 6px;
  margin-left: 0;
  margin-bottom: 4px!important;
  content: url('https://storage.ko-fi.com/cdn/whitelogo.svg');
}
.btn-container{
  display: inline-block!important;
  white-space: nowrap;
  min-width: 160px;
}
span.kofitext{
  color: var(--secondary) !important;
  text-wrap: none;
  vertical-align: middle;
  line-height: 33px !important;
  padding: 0;
  text-align: center;
  text-decoration: none!important;
  text-shadow: 0 1px 1px rgba(34, 34, 34, 0.05);
}
.kofitext a{
  color: var(--secondary) !important;
  text-decoration:none !important;
}
.kofitext a:hover{
  color: var(--secondary) !important;
  text-decoration: none;
}
a.kofi-button{
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  line-height: 36px!important;
  min-width: 150px;
  display: inline-block!important;
  background-color: var(--accent);
  padding: 2px 12px !important;
  text-align: center !important;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  overflow-wrap: break-word;
  vertical-align: middle;
  border: 0 none #fff !important;
  font-family: 'VT323', monospace;
  text-decoration: none;
  text-shadow: none;
  font-weight: 600 !important;
  font-size: 18px !important;
  letter-spacing: 1px;
}
a.kofi-button:visited{
  color: #fff !important;
  text-decoration: none !important
}
a.kofi-button:hover{
  opacity: .85;
  color: #f5f5f5 !important;
  text-decoration: none !important
}
a.kofi-button:active{
  color: #f5f5f5 !important;
  text-decoration: none !important
}
.kofitext img.kofiimg {
  height: 15px!important;
  width: 22px!important;
  display: initial;
  animation: kofi-wiggle 3s infinite;
}
@keyframes kofi-wiggle{
  0%{
    transform:rotate(0) scale(1)
  }
  60%{
    transform:rotate(0) scale(1)
  }
  75%{
    transform:rotate(0) scale(1.12)
  }
  80%{
    transform:rotate(0) scale(1.1)
  }
  84%{
    transform:rotate(-10deg) scale(1.1)
  }
  88%{
    transform:rotate(10deg) scale(1.1)
  }
  92%{
    transform:rotate(-10deg) scale(1.1)
  }
  96%{
    transform:rotate(10deg) scale(1.1)
  }
  100%{
    transform:rotate(0) scale(1)
  }
}