{{define "elements/github_button"}}
    <a class="picture_btn" href="https://github.com/MehtoDev/{{.Link}}" onmousedown="this.style.background='gray'" onmouseup="this.style.background='transparent'">
        <img src="/assets/img/GitHub-Logo.png"></img>
        <img src="/assets/img/GitHub.png"></img>
    </a>
{{end}}