{{define "footer"}}
    <div class="center-footer">
        <a class="picture_btn" href="https://github.com/MehtoDev/" onmousedown="this.style.background='gray'" onmouseup="this.style.background='transparent'">
            <img src="/assets/img/GitHub-Logo.png"></img>
        </a>
        <a class="picture_btn" href="https://www.linkedin.com/in/mjkmetso/" onmousedown="this.style.background='gray'" onmouseup="this.style.background='transparent'">
            <img src="/assets/img/Linkedin-Logo.png"></img>
        </a>
    </div>
{{end}}