<h1><big>About me</big></h1>
<p class="content_paragraph">So a little about me, the author of this page. I am a software engineering student from the cold northern land of Finland. My main tech interests are game development, AI and blockchain. As far as game dev goes, I am just starting my journey and plan to participate in multiple gamejams during 2024 if my schedule permits that. While I have done automated trading on various blockchains, those projects will not be featured on this page, nor do I have plans to make those programs public.</p>
<h4><big>About this page</big></h4>
<p class="content_paragraph">This page has two main purposes for me. The main reason was to learn more about Go + HTMX as a development stack as I have limited experience with developing websites and front-ends. The secondary reason is to showcase different projects I have worked on previously. You can find the website source code below.</p>
<a class="picture_btn" href="https://github.com/MehtoDev/personal_website" onmousedown="this.style.background='gray'" onmouseup="this.style.background='transparent'">
    <img src="/assets/GitHub-Logo.png"></img>
    <img src="/assets/GitHub.png"></img>
</a>