<h1><big>Fps controller - Godot</big><br><small>(Status : Abandoned)</small></h1>
<a class="picture_btn" href="https://github.com/MehtoDev/godot_fps_controller" onmousedown="this.style.background='gray'" onmouseup="this.style.background='transparent'">
    <img src="/public/img/GitHub-Logo.png"></img>
    <img src="/public/img/GitHub.png"></img>
</a>