<a class="picture_btn" href="https://github.com/MehtoDev/" onmousedown="this.style.background='gray'" onmouseup="this.style.background='transparent'">
    <img src="/public/img/GitHub-Logo.png"></img>
</a>
<a class="picture_btn" href="https://www.linkedin.com/in/mjkmetso/" onmousedown="this.style.background='gray'" onmouseup="this.style.background='transparent'">
    <img src="/public/img/Linkedin-Logo.png"></img>
</a>