<h1><big>About this page</big></h1>
<p class="content_paragraph">This page has two main purposes for me. The main reason was to learn more about Go + HTMX as a development stack as I have limited experience with developing websites and front-ends. The secondary reason is to showcase different projects I have worked on previously.</p>