{{define "article/gamedev_studies"}}
    <h1><big>Gamedev studies</big></h1>
    <p class="content_paragraph">Here are all small scale study projects I've done to learn my way around game engines.</p>
{{end}}