{{define "article/gamedev"}}
<h1><big>Gamedev</big></h1>
<p class="content_paragraph">Here you can find various small projects I've done as I was learning my way around game engines. I will also add the results of any gamejams I participate in under this category.</p>
{{end}}