{{define "article/gamedev"}}
    <h1><big>Gamedev</big></h1>
    <p class="content_paragraph">Explore my game development journey through the Gamedev category. Discover main projects, game jam entries, and small-scale studies. From finished games to experimental projects, this category showcases my progress and expertise in game development.</p>
{{end}}