{{define "article/gamedev_studies"}}
    <h1><big>Gamedev studies</big></h1>
    <p class="content_paragraph">Dive into my exploration of game development tools and techniques in the Gamedev Studies category. Here, you'll find experimental projects aimed at learning and mastering various game engines. These studies serve as stepping stones in my journey toward proficiency in game development.</p>
{{end}}