{{define "article/gamejams"}}
    <h1><big>Gamejams</big></h1>
    <p class="content_paragraph">Delve into the fast-paced world of game development with my entries in the Gamejams category. From intense 48-hour challenges to longer events, explore the innovative creations born from tight deadlines and creative constraints. These entries showcase my adaptability and creativity in crafting engaging gameplay experiences under pressure.</p>
{{end}}