{{define "article/godot_fps_controller"}}
    <h1><big>Fps controller - Godot</big><br><small>(Status : Abandoned)</small></h1>
    {{template "elements/github_button" dict "Link" "godot_fps_controller"}}
{{end}}