{{define "article/godot_fps_controller"}}
    <h1><big>Fps controller - Godot</big><br><small>(Status : Abandoned)</small></h1>
    <p class="content_paragraph">This was a quick small project I set out to do. My goal was to implement FPS character controller with similar feel to classic Quake/Source games, complete with bunnyhopping with acceleration and airstrafing.</p>
    <p class="content_paragraph">After I had the movement feeling like I wanted it to, I decided to add simple shooting mechanics with recoil mechanic similar to CS where recoil is not tied to the crosshair or camera. As an added challenge I implemented an ADS mechanic where the recoil instead works similar to modern COD games, meaning the recoil is tied to the camera and shooting will cause the camera itself to turn.</p>
    <iframe src="https://www.youtube.com/embed/i6znkYSfoNc" title="godot fps controller" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    {{template "elements/github_button" dict "Link" "godot_fps_controller"}}
{{end}}