{{define "article/projects"}}
    <h1><big>Projects</big></h1>
    <p class="content_paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique possimus, enim asperiores voluptates neque veritatis accusamus magnam numquam reiciendis autem dolor, in hic, nihil repellat voluptate obcaecati repellendus tempora! Cum.</p>
{{end}}