{{define "article/projects"}}
    <h1><big>Projects</big></h1>
    <p class="content_paragraph">Welcome to the Projects category, a diverse showcase of my endeavors across various domains. Here, you'll find a collection of miscellaneous projects that reflect my interests, skills, and creativity. From coding experiments to artistic creations, this category encapsulates the breadth of my work.</p>
{{end}}